.profile__avatar-button {
   position: relative;
   padding: 0;
   border-radius: 50%;
   border: 0;
   width: 120px;
   height: 120px;
   cursor: pointer;
   background: rgba(0, 0, 0, 0.8) url(../../../images/icons/profile-pancil.svg) center/26px 26px no-repeat;
}

.profile__avatar-button:focus {
   outline: none;
}
